/*Energy style!*/
p{
    text-align: center;
    color: red;
} 

ul.a {
    list-style-type: circle;
}

a.left_butt {
    position: relative;
    left: 100px;
}

/*
<ul class="a">
  <li>Coffee</li>
  <li>Tea</li>
  <li>Coca Cola</li>
</ul>
*/