/*Energy style!*/

ul.a {
    list-style-type: circle;
}

div.left {
    float: left;
    height: 95%;
    width:10%;
    left-margin: 3%;
}

div.right {
    float: right;
    height: 95%;
    width: 10%;
    right-margin: 3%;
    /* border: solid 1px black; */
}


img.left_butt {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

img.right_butt {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 250%;
}

h2 {
    text-align: center;
    font-size: 200%;
}

div.text {
    margin: 0 auto;
    color:rgb(10,10,150);
    width: 70%;
}



img.r_banner {
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

img.l_banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
