/*Energy style!*/

ul.a {
    list-style-type: circle;
}

div.left {
    float: left;
    height: 95%;
    width:10%;
    left-margin: 3%;
    /* border: solid 1px white; */
}

div.right {
    float: right;
    height: 95%;
    width: 10%;
    right-margin: 3%;
    /* border: solid 1px white; */
}

.list_item { margin-left: 5%;
	     font-size: 85%;
	   }


img.left_butt {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

img.right_butt {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 250%;
}

h2 {
    text-align: center;
    font-size: 200%;
}

h3 {font-size:130%;
    color: rgb(225,225, 225);}

div.text {
    margin: 0 auto;
    color:rgb(200,200,200);
    width: 70%;
}

p {
    font-size: 115%;
}

li {
    font-size: 115%;
}

a {
    color: yellow;
}

img.r_banner {
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

img.l_banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

body {
    background-color: rgb(0, 0, 0); 
}
