div.pics {
    width: 65%;
    margin: 0 auto;
    height: 30%;
}

#americorps {
    width: 30%;
}

#khfh {
    width: 60%;
    margin-bottom: 10%;
	      
}


div.text {
/*    font-size: 22px; */
    width: 75%;
    text-align: center;
    margin: 0 auto; 
}

body {
    background-color: rgb(200, 200, 200); 
}

p.surv {
    margins: 1% 1% 1% 1%;
    background-color: rgb(220, 220, 220); 
}
